.pageBox {
  padding: 20px;
}

.back,
.additional a {
  width: fit-content;
  display: block;
  margin-bottom: 20px;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 16px;
  border: 2px solid #577399;
  background-color: transparent;
  color: #fe5f55;
  text-transform: uppercase;
}

.back:hover,
.additional a:hover {
  background-color: #577399;
  color: #f7f7ff;
}

.additional ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
