:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #495867;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7ff;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: 2px solid darkolivegreen;
  border-radius: 8px;
  padding: 4px 8px;
  font: inherit;
  color: inherit;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

button {
  border: 2px solid darkolivegreen;
  border-radius: 8px;
  padding: 4px 8px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  width: 800px;
  margin: 50px auto;
}

nav .active {
  border-color: #fe5f55;
  transition-property: border;
}

.header {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks h3 {
  margin-bottom: 4px;
}

.filter-buttons {
  margin-top: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}

form {
  display: flex;
  gap: 12px;
  border: 2px solid darkolivegreen;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 20px auto;
  width: fit-content;
}

form input {
  min-width: 400px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 8px 0;
  border: 2px solid darkolivegreen;
  border-radius: 8px;
  padding: 4px 8px;
  /* width: 100%; */
}

.task-item p {
  flex-grow: 1;
}

.task-item button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  color: #f44336;
}

.task-item input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.task-list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.task-list li {
  width: 100%;
}
