.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 20px 100px;
  color: #577399;
  text-transform: capitalize;
  font-size: 28px;
}

.title span {
  color: #fe5f55;
  text-transform: uppercase;
}
